{% load sass_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block title %}{% endblock title %}</title>

  <link rel="icon" type="image/x-icon" href="{% static 'icons/favicon.ico' %}">
  <link href="{% sass_src 'pages/css/main.scss' %}" rel="stylesheet" type="text/css"/>

</head>

<body>
{% if user.is_authenticated %}
  {% if user.is_superuser %}
    <a href="/admin" target="_blank">Админ-панель</a>
  {% endif %}
  {% block content %}{% endblock content %}
{% else %}
  {% block no_auth %} {% endblock no_auth %}
{% endif %}
</body>

</html>
