@import "./node_modules/bootstrap/scss/bootstrap";
@import "./login";

$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$backgroup-color: #eaeaea;

body {
    margin: 0;
    padding: 0;
    background-color: $backgroup-color;
    height: 100vh;
}

#login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}

#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}

#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}

@media (max-width: 567px) {
    .main {
        margin-top: 3rem;
        padding-bottom: 1rem;
    }
    .container {
        flex-direction: column;
        align-items: center;
    }

    .album {
        margin-top: 3rem;
    }

    .button-my {
        flex-direction: column;
    }

    .btn {
        width: 100% !important;
    }
}


.shadow-box {
    padding: 20px;
    background: #fff;
    //box-shadow: 0 2px 4px 0 rgb(0 0 0 / 30%);
    border-radius: 5px;

    &_auth {
        display: inline-block;
        text-align: center;
    }

    &__title {
        padding-bottom: 4%;
    }
}